<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- Serve static files -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".map" mimeType="application/json" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>

        <!-- URL Rewrite Rules to support React Router -->
        <rewrite>
            <rules>
                <rule name="React Router" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <!-- Ensure the request is not for an actual file or folder -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <!-- Rewrite all other requests to index.html -->
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Custom error page handling -->
        <httpErrors errorMode="Detailed" />

    </system.webServer>
</configuration>
